In [71]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
uzzal_df = pd.read_csv('Salary_Data.csv')

In [72]:
uzzal_df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [73]:
x = uzzal_df['YearsExperience']

In [74]:
y = uzzal_df['Salary']

In [80]:
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [81]:
# create linear regression object 
model = linear_model.LinearRegression()

In [82]:
# train the model using the training sets 
model.fit(uzzal_df[['YearsExperience']],uzzal_df['Salary'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [77]:
#coeficient ( b1 )
model.coef_

array([9449.96232146])

In [78]:
#interception ( b0 )
model.intercept_

25792.20019866871

In [83]:
#predict salary for 10 years
model.predict([[10]])

array([120291.82341322])